# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Env
.env
.venv/
venv/
ENV/
env/
*.env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!**/migrations/__init__.py

# System files
.DS_Store
Thumbs.db

# Bytecode cache
.pytest_cache/
*.orig

# Swagger cache
staticfiles/
swagger.json
swagger.yaml

# Coverage/test
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Docker
*.pid
*.log
*.db

# MyPy and Pyright
.mypy_cache/
.pyright/
dmypy.json

# OS-specific
ehthumbs.db
Icon?
